body {
	background-image: url("base.JPG");
	background-repeat: no-repeat;
	background-size: strech;
	background-color: #000000;
}



h2, p1, p2, label, input {
	color:#FFFFFF;
	style="font-size:3vw";
}
